h1 h2
{
    color : rgb(210, 210, 210);
}

td
{
    background-color: rgba(42, 42, 42, 1.2);
    color : rgb(210,210,210);
}

th
{
    background-color: lightgrey;
    text-align: left;
}

th, td
{
    padding : 1em 1em 1em 1em;
}

table
{
    /* border: black 2px solid; */
    background-color: black;
}

body
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

h2:before, h2:after
{
    content: " # ";
    color : blue;
    font-size: 1.5em;

}

*
{
    background: rgb(84,84,84);
}
